* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  /* color: inherit !important; */
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  position: relative;
 
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 0.50rem;
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  /* opacity: 1; */
  filter: brightness(60%);
  transform: scale(1.05);
  
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: absolute;  /*parent (.tile) has a position:relative so position attributes will work according to parent*/
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom:0px;
  color: whitesmoke;
  font-weight: normal;
  width: 100%;
  left:0;    /*position attributes*/
  right:0;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/hero.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  /* 2. Position and center the image to scale nicely on all screens. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.hero-heading {
  color: whitesmoke;
  text-align: center;
  /* font-size: 2.5em; */
}

.hero-subheading {
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 40px;
  /* margin-left: auto; */
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 0.50rem;
}

.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */

  filter: brightness(60%);
  transform: scale(1.05);
}

.details{
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}



@media only screen  and (max-width:768px)
{
  .details{
    flex-direction: column;
    align-items: center;
  }
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  
}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  border-radius: 0.75em;
  width:100%;
  height:90%;
  object-fit: cover;
  object-position: center;
}

.adventure-card-image-half{
  border-radius: 0.75em;
  width:100%;
  height:42.5%;
  object-fit: cover;
  object-position: center;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
